extends layout

block content
    h1= title
    - var image_names = ["download1.jpg", "download2.jpg", "download3.jpg", "download4.jpg", "download5.jpg"]

    - for(let i = 0; i < 3; i++)
        - var randomIndex = Math.floor(Math.random() * 5)
        - var imageName = image_names[randomIndex]
        - var imagePath = `/images/${imageName}`
        - var altText = `Image: ${imageName}`
        - var imageSize = "300px" 

        img(src=imagePath, alt=altText, height=imageSize, width=imageSize)
