extends layout

block content
  h1= title
  - const items = results
  .container-fluid
    .row
      each Nwclass, index in items
        .col-sm-2(onclick=`buy(${index})`)
          p= `Name: ${Nwclass.name}`
          p= `Classification: ${Nwclass.classification}`
          p= `Range: ${Nwclass.range} km`
          p= `Damage: ${Nwclass.damage}`
  script. 
       function buy(index)
       {
        alert(`you purchased Item: ${index+1}`)
       }
